.sideBar {
    width: 70px;
    height: 100vh;
    background: #282828;
    position: fixed;
    left: 0;
    top: 67px;
    border-right: 1px solid #3e3e3e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    transition: 0.4s;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.profileLogo {
    font-weight: normal;
    background: #8c6e63;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    margin-bottom: 20px;
}

.profileLogo > p {
    font-size: 18px;
    font-family: sans-serif;
    transition: 0.4s;
}

.section1 > p {
    opacity: 0;
    transition: 0.4s;
    padding: 5px;
}

.section1 > p:nth-of-type(1) {
    font-size: 1px; 
}

.section1 > p:nth-of-type(2) {
    display: block;
    gap: 5px;
    color: #aaa;
    font-size: 1px;
    margin-bottom: -30px;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    transition: 0.4s;
    margin-top: 5px;
}
     
.section2 > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    width: 220px;
    position: relative;
    margin-left: 3px;
    margin: 1px 0;
    margin-left: 14px;
    /* background: #1f1f1f; */
    border-radius: 10px;
}

.section2 > div > div {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.section2 > div > div:hover {
    background: #1f1f1f;
}

.section2 > div > p, .section3 > div > p {
    display: block;
}

.section3 {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 67px;
    overflow: hidden;
}

.section3 > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 26px;
    padding: 12px;
    padding-left: 26px;
    width: 250px;
}