.bottom {
    display: flex;
    align-items: center;
    gap: 15px;
    position: fixed;
    bottom: 48px;
    background: #282828;
    border-top: 1px solid #444;
    border-radius: 0 0 30px 30px;
    padding: 22px 0 26px 28px;
    width: 960px;
    overflow: hidden;
}

.bottom > img:nth-of-type(2) { transform: translateX(2px) }

.bottom > p {
    font-size: 12px;
    color: #999;
}

.bottom span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 24px;
    background: #fff;
    color: #000;
    height: 35px;
    width: 60px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 30px;
}