.choose {
    background: #0e0e0e;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    padding-right: 25px;
}

.upper {
    padding-left: 24px;
}

.googleGRainbowLogo {
    margin-top: 25px;
}

.upper h1 {
    font-weight: normal;
    font-size: 2.1rem;
    margin-top: 22px;
}

.upper h2 {
    font-size: 16px;
    font-weight: normal;
    margin-top: 14px;
    margin-bottom: 38px;
}

.radioButton {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #444;
    /* border: 1px solid #999; */
    height: 55px;
    overflow: hidden;
}

.radioButton img {
    transform: translate(-10px, -12px);
}


.radioButton > div {
    border: 2px solid #acc7f4;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: 25px;
}

.radioButton > div > span {
    background: #acc7f4;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.next {
    height: 40px;
    width: 79px;
    background: #9cccec;
    color: #184792;
    font-weight: bold;
    border-radius: 40px;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 23px;
    margin-top: 60px;
}

.remark {
    margin-top: 10px;
    font-size: 14px;
}

.remark > * {
    margin-bottom: 3px;
}

.remark div {
    color: #acc7f4;
    font-weight: bold;
    display: inline;
}

.bottom {
    /* border: 1px solid #fff; */
    width: 100vw;
    position: fixed;
    bottom: 18px;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.bottom > div {
    display: flex;
    font-size: 12px;
}

.language {
    padding: 7px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 35px;
}

.language > svg {
    transform: rotate(180deg) scaleX(2);
}

.bottomRight {
    margin-right: 24px;
}

.bottomRight > p {
    padding: 7px 10px;
    margin-left: 14px;
    border-radius: 5px;
}

.bottomRight > p:hover, .language:hover {
    background: #222;
}